{% extends 'nucleo/base.html'%}
{%block title%}Logística{%endblock%}
{%load static%}
{%block head%}
<link rel="stylesheet" type="text/css" href="{%static 'nucleo/vendors/css/pickers/pickadate/pickadate.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'nucleo/css/plugins/forms/pickers/form-pickadate.css'%}">
{%endblock%}
{%block content%}
<style>
.errorlist{
    color:red;
    list-style:none;
    padding-left:0;
}
</style>
<!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-fluid p-0">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-start mb-0">Logística</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'logistica:envios:lista' %}">Envios</a>
                                    </li>
                                    <li class="breadcrumb-item active">Envio #{{envio.id}}
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-header-right text-md-end col-md-3 col-12 d-md-block d-none">
                    <div class="mb-1 breadcrumb-right">
                        {% if 'logistica.envio.etiquetas' in perms%}
                        <a target="_blank" href="{% url 'logistica:envios:etiquetas' object.id %}"><button class="btn btn-info">Ver Etiquetas</button></a>
                        {%endif%}
                    </div>
                </div>
            </div>
            <div class="content-body">
                <!-- Dashboard -->
                <div class="card" id="app">

                    <div class="card-body">
                        <div class="card-text">
                           <h3>Información del Envio</h3>
                           <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Dato</th>
                                            <th>Detalle</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>Lugar Origen</th>
                                            <td>{{envio.lugar_o.nombre}}</td>
                                        </tr>
                                        <tr>
                                            <th>Fecha de Envio</th>
                                            <td>{{envio.fecha_envio|date:"d M Y"}}</td>
                                        </tr>
                                        <tr>
                                            <th>Lugar Destino</th>
                                            <td>{{envio.lugar_d.nombre}}</td>
                                        </tr>
                                        <tr>
                                            <th>Fecha de Recepción</th>
                                            <td>{{envio.fecha_recepcion|date:"d M Y"}}</td>
                                        </tr>
                                        <tr>
                                            <th>Encargado Envio</th>
                                            <td>{{envio.encargado_envio}}</td>
                                        </tr>
                                        <tr>
                                            <th>Recepcionado Por</th>
                                            <td>{{envio.encargado_recepcion}}</td>
                                        </tr>
                                        <tr>
                                            <th>Medio de Transporte</th>
                                            <td>{{envio.medio_transporte}}</td>
                                        </tr>
                                        <tr>
                                            <th>Número Documento</th>
                                            <td>{{envio.numero_documento}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                           </div>
                           <h3 v-if="Object.keys(resumen).length > 0" class="mt-2">Resumen Envio<button type="button" @click="vermas" class="btn btn-icon btn-icon rounded-circle btn-primary waves-effect waves-float waves-light">
              <i v-bind:class="{ fas: true, 'fa-arrow-down': !mostrarmas, 'fa-arrow-up': mostrarmas }"></i>
            </button></h3>
                            <div v-if="Object.keys(resumen).length > 0" class="table-responsive">
                                <table v-if="!mostrarmas" class="table table-bordered">
                                    <thead v-if="Object.keys(resumen.lotes).length > 0">
                                        <tr>
                                            <th>Producto</th>
                                            <th>Cajas</th>
                                            <th>Unidades</th>
                                        </tr>
                                    </thead>
                                    <tbody v-if="Object.keys(resumen.lotes).length > 0">
                                        <tr v-for="r in resumen.lotes">
                                            <td>{$ r.producto$} ({$ r.presentacion $} {$r.unidad$})</td>
                                            <td>{$ r.cajas $}</td>
                                            <td>{$ r.cantidad $}</td>
                                        </tr>
                                    </tbody>
                                    <thead v-if="Object.keys(resumen.insumos).length > 0">
                                        <tr>
                                            <th>Insumo</th>
                                            <th>Bultos</th>
                                            <th>Unidades</th>
                                        </tr>
                                    </thead>
                                    <tbody v-if="Object.keys(resumen.insumos).length > 0">
                                        <tr v-for="i in resumen.insumos">
                                            <td>{$ i.nombre $} ({$i.unidad$})</td>
                                            <td>{$ i.bultos $}</td>
                                            <td>{$ i.cantidad $}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                                {%if lotes_si|length > 0 or insumos_si|length > 0%}
                                    <div v-if="mostrarmas">
                                        <table class="table table-bordered">
                                                {%if lotes_si|length > 0%}
                                                <thead>
                                                    <tr>
                                                        <th>Codigo Lote</th>
                                                        <th>Producto</th>
                                                        <th>Folio Caja</th>
                                                        <th>Unidades</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {%for lote in lotes_si %}
                                                    <tr>
                                                        <td>{{lote.cajalote.lote.numero}}</td>
                                                        <td>{{lote.cajalote.lote.producto.nombre}} ({{lote.cajalote.lote.producto.presentacion}} {{lote.cajalote.lote.producto.unidad}})</td>
                                                        <td>{{lote.cajalote.caja}}</td>
                                                        <td>{{lote.cajalote.cantidad}}</td>
                                                    </tr>
                                                    {%endfor%}
                                                </tbody>
                                                {%endif%}
                                                {%if insumos_si|length > 0%}
                                                <thead>
                                                    <tr>
                                                        <th>Codigo Bulto</th>
                                                        <th>Insumo</th>
                                                        <th>Folio Bulto</th>
                                                        <th>Unidades</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {%for insumo in insumos_si%}
                                                    <tr>
                                                        <td>{{insumo.insumobulto.pk}}</td>
                                                        <td>{{insumo.insumobulto.insumo.nombre}} ({{insumo.insumobulto.insumo.unidad}})</td>
                                                        <td>{{insumo.insumobulto.numero}}</td>
                                                        <td>{{insumo.insumobulto.total}}</td>
                                                    </tr>
                                                    {%endfor%}
                                                </tbody>
                                                {%endif%}
                                            </table>
                                    </div>
                                {%endif%}  
                            
                            {%if lotes_no|length > 0%}
                            <h3 class="mt-2 text-danger">Cajas Faltantes</h3>  
                                <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Codigo Lote</th>
                                                <th>Producto</th>
                                                <th>Folio Caja</th>
                                                <th>Unidades</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {%for lote in lotes_no %}
                                            <tr>
                                                <td>{{lote.cajalote.lote.numero}}</td>
                                                <td>{{lote.cajalote.lote.producto}}</td>
                                                <td>{{lote.cajalote.caja}}</td>
                                                <td>{{lote.cajalote.cantidad}}</td>
                                            </tr>
                                            {%endfor%}
                                        </tbody>
                                    </table>
                            {%endif%}
                            {%if insumos_no|length > 0%}
                            <h3 class="mt-2 text-danger">Bultos Faltantes</h3>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Insumo</th>
                                            <th>Folio Bulto</th>
                                            <th>Unidades</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for insumo in insumos_no%}
                                        <tr>
                                            <td>{{insumo.insumobulto.insumo.nombre}} ({{insumo.insumobulto.insumo.unidad}})</td>
                                            <td>{{insumo.insumobulto.numero}}</td>
                                            <td>{{insumo.insumobulto.total}}</td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            {%endif%}
                            {%if pallets|length > 0%}
                                <h3 class="mt-2">Detalle Pallets</h3>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Codigo Pallet</th>
                                            <th>Nombre Pallet</th>
                                            <th>Recepcionado</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for registro in pallets%}
                                        <tr>
                                            <td>{{registro.pallet.pk}}</td>
                                            <td>{{registro.pallet.nombre}}</td>
                                            <td>{% if registro.completado%}Recepcionado{%else%}<span class="text-danger">Extraviado</span>{%endif%}</td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                        
                                    </table>
                                </div> 
                            {%endif%}
                            </div>
                    </div>
                </div>
                <!--/ Dashboard -->
            </div>
        </div>
    </div>
    <!-- END: Content-->
{%endblock%}
{%block scripts%}
<script>
let vue = Vue.createApp({
    data(){
        return{
            resumen:[],
            mostrarmas:false,
        }
    },
    methods:{
        obtenerResumen(){
            let url = "{% url 'api-envio-resumen' 1 %}".replace('1','{{envio.id}}');
            axios
            .get(url).then(response => {
                this.resumen = response.data.resumen;
            });
        },
        vermas(){
            this.mostrarmas = !this.mostrarmas;
        }
    },
    mounted(){
        this.obtenerResumen();
    },
    delimiters: ['{$', '$}'],
}).mount('#app');
</script>
{%endblock%}