{% extends 'nucleo/base.html'%}
{%block title%}Actualizar Orden de Compra{%endblock%}
{%load static%}
{%block head%}
<link rel="stylesheet" type="text/css" href="{%static 'nucleo/vendors/css/pickers/pickadate/pickadate.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'nucleo/css/plugins/forms/pickers/form-pickadate.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'nucleo/css//plugins/extensions/ext-component-sweet-alerts.css'%}">
{%endblock%}
{%block content%}
<style>
.errorlist{
    color:red;
    list-style:none;
    padding-left:0;
}
.rojo{
    background:red!important;
    color:white;
    font-weight:bold;
}
.verde{
    background:green!important;
    color:white;
    font-weight:bold;
}
</style>
<!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-fluid p-0">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-start mb-0">Orden De Compra</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'ordendecompra:lista' %}">Ordenes de compra</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="{% url 'ordendecompra:detalle' object.id %}">Orden N° {{object.numero}}</a></li>
                                    <li class="breadcrumb-item active">Etiquetar
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <!-- Dashboard -->
                <div class="card" id="app">

                    <div class="card-body">
                        <div class="card-text">
                            <form id="formulario" class="form form-horizontal" method="post" enctype="multipart/form-data">{% csrf_token %}
                            
                                        <ul v-if="error != ''" class="errorlist">
                                            <li>{$ error $}</li>
                                        </ul>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-1 row">
                                        <div class="col-sm-3">{{form.fecha.label}}</div>
                                        <div class="col-sm-9 position-relative">{{form.fecha}}
   
                                        {%if form.fecha.errors %}
                                        <div class="invalid-feedback" style="display:block;">{{form.fecha.errors.as_text}}</div>
                                        {%endif%}
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                    {%for field in form %}
                                        {%if field.id_for_label != 'pickadate'%}
                                        <div class="mb-1 row">
                                        <div class="col-sm-3">{{field.label_tag}} {%if field.field.required %}<span style="color:red">*</span>{%endif%}</div>
                                        <div class="col-sm-9 position-relative">{{field}} 
                                        {%if field.errors %}
                                        <div class="invalid-feedback" style="display:block;">{{field.errors.as_text}}</div>
                                        {%endif%}
                                        </div>
                                        </div>
                                        {%endif%}
                                    {%endfor%}
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Nombre Insumo</th>
                                                <th>Caja Master (DUN14)</th>
                                                <th>Cantidad Unidad Por Caja Master (EAN13)</th>
                                                <th>Lote Proveedor</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr v-for="(bulto,index) in bultos">
                                                    <td><input type="hidden" name="bultoid" v-model="bulto.id">{$ bulto.nombre$} ({$bulto.formato$} {$bulto.unidad$})</td>
                                                    <td>{$ bulto.numero $}</td>
                                                    {%load filtros%}
                                                    <td><input class="form-control" min="1" v-model="bulto.cantidad" name="cantidadbulto" type="number" step="0.01" required/></td>
                                                    <td><input @keyup="rellenarLote($event,index)" class="form-control" placeholder="Lote Proveedor" v-model="bulto.lote" name="loteproveedor" type="text"/></td>
                                                </tr>
                                        </tbody>
                                    </table>
                                
                                <div class="col-sm-12 mt-1">
                                            <button type="button" @click="ingresarOrden({{object.id}})" class="btn btn-primary me-1 waves-effect waves-float waves-light">Generar Etiquetas</button>
                                            {%if 'ordendecompra.rechazar' in perms%}
                                            <button @click="rechazarOrden({{object.id}})" type="button" class="btn btn-danger me-1 waves-effect waves-float waves-light">Rechazar</button>
                                            {%endif%}
                                        </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
                <!--/ Dashboard -->

            </div>
        </div>
    </div>
    <!-- END: Content-->
{%endblock%}
{%block scripts%}
<script src="{%static 'nucleo/vendors/js/extensions/sweetalert2.all.min.js'%}"></script>
<script src="{%static 'nucleo/js/scripts/download.js'%}"></script>
<script>
let vue = Vue.createApp({
    data() {
            return {
                error: '',
                bultos: [ {%for bulto in object.insumobulto_set.all%} {'numero':parseInt('{{bulto.numero}}'),'id':parseInt('{{bulto.id}}'),'nombre':'{{bulto.insumo.nombre}}','formato':'{{bulto.formato}}','unidad':'{{bulto.insumo.unidad}}','cantidad':parseInt('{{bulto.cantidad}}'),'lote':''}, {%endfor%}]
             };
            },
    methods:{
        ingresarOrden(numero){
            let url = '{%url "ordendecompra:etiquetar" 1 %}'.replace('1',numero);
            let data = new FormData(document.querySelector('#formulario'))
            error = '';
            axios.post(url,data).then(response=>{
                if (response.data.estado == 'ok'){
                    axios.get('{%url "ordendecompra:etiquetas" 1%}'.replace('1',numero),{responseType: 'blob'}).then(respuesta=>{
                    const content = response.headers['content-type'];
                    download(respuesta.data, `OC ${response.data.id}.pdf`, 'application/pdf');
                    setTimeout(()=>{
                        location.href = '{%url "ordendecompra:lista" %}';
                    },1000);
                });
                }else{
                    this.error = response.data.mensaje;
                }
                
            }).catch(e=>{
                this.error = e;
            });
                
        },
        rellenarLote(event,index){
            let valor = event.target.value;
            this.bultos.forEach((bulto,i)=>{
                if(i > index){
                    bulto.lote = valor;
                }
            });
        },
        rechazarOrden(numero){
        Swal.fire({
            title: 'Estas Seguro?',
            text: "La orden de compra quedara deshabilitada y en estado Rechazada",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'Cancelar',
            confirmButtonText: 'Si, Rechazar!'
        }).then((result) => {
            if (result.isConfirmed) {
                let url = '{%url "ordendecompra:rechazar" 1%}';
                location.href = url.replace('1',{{object.id}});
                    }});
        },
    },
    delimiters: ['{$', '$}'],
    mounted(){
    },
}).mount('#app');
</script>
{%endblock%}