{% extends 'nucleo/base.html'%}
{%block title%}Actualizar Orden de Compra{%endblock%}
{%load static%}
{%block head%}
<link rel="stylesheet" type="text/css" href="{%static 'nucleo/vendors/css/pickers/pickadate/pickadate.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'nucleo/css/plugins/forms/pickers/form-pickadate.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'nucleo/css//plugins/extensions/ext-component-sweet-alerts.css'%}">
{%endblock%}
{%block content%}
<style>
.errorlist{
    color:red;
    list-style:none;
    padding-left:0;
}
.rojo{
    background:red!important;
    color:white;
    font-weight:bold;
}
.verde{
    background:green!important;
    color:white;
    font-weight:bold;
}
</style>
<!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-fluid p-0">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-start mb-0">Pagar Orden de Compra</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'ordendecompra:lista' %}">Ordenes de compra</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="{% url 'ordendecompra:pdf' object.id %}">Orden N° {{object.numero}}</a></li>
                                    <li class="breadcrumb-item active">Pagar
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <!-- Dashboard -->
                <div class="card">

                    <div class="card-body">
                        <div class="card-text">
                            <form class="form form-horizontal" method="post" enctype="multipart/form-data">{% csrf_token %}
                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-1 row">
                                        <div class="col-sm-3">{{form.fecha.label}}</div>
                                        <div class="col-sm-9 position-relative">{{form.fecha}}
   
                                        {%if form.fecha.errors %}
                                        <div class="invalid-feedback" style="display:block;">{{form.fecha.errors.as_text}}</div>
                                        {%endif%}
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                    {%for field in form %}
                                        {%if field.id_for_label != 'pickadate'%}
                                        <div class="mb-1 row">
                                        <div class="col-sm-3">{{field.label_tag}} {%if field.field.required %}<span style="color:red">*</span>{%endif%}</div>
                                        <div class="col-sm-9 position-relative">{{field}} 
                                        {%if field.errors %}
                                        <div class="invalid-feedback" style="display:block;">{{field.errors.as_text}}</div>
                                        {%endif%}
                                        </div>
                                        </div>
                                        {%endif%}
                                    {%endfor%}
                                    {% if archivos|length > 0 %}
                                <div id="archivos">
                                    <h3 class="mt-1">Archivos Adjuntos</h3>
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Archivo</th>
                                                    <th>Opciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {%for r in archivos%}
                                                <tr>
                                                    <td><a target="_blank" href="{{r.archivo.url}}">{{r.nombre}}</a></td>
                                                    <td><button type="button" class="btn btn-danger" @click="eliminarArchivo($event,{{r.id}})">Eliminar</button></td>
                                                </tr>
                                            {%endfor%}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                {%endif%}
                                    <h3 class="mt-2">Insumos</h3>
                                <div class="table-responsive" id="app">
                                    <table class="table mb-2">
                                    <thead>
                                        <tr>
                                            <th>Insumo</th>
                                            <th>Cantidad solicitada</th>
                                            <th>Cantidad recepcionada</th>
                                            <th>Detalle</th>
                                            <th>Precio Unitario</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr v-for="insumo in insumos">
                                            
                                            <input type="hidden" name="idinsumo[]" v-bind:value="insumo.id"/>
                                            <td>{$ insumo.insumo_nombre.toUpperCase() $}</td>
                                            <td @click='igualarInsumo(insumo)'><input type="number" class="form-control" :class="[insumo.rojo ? 'is-invalid' : 'is-valid']" v-model="insumo.cantidad" disabled/></td>
                                            <td><input type="number" @keyup='actualizarInsumo(insumo)'  name="insumocantidad[]" class="form-control" disabled v-model="insumo.cantidad_recibida"/></td>
                                            <td><textarea class="form-control"disabled>{$ insumo.detalle $}</textarea></td>
                                            <td><input type="number" class="form-control" v-bind:value="insumo.neto" disabled/></td>
                                        </tr>
                                        {%load filtros %}
                                        <thead>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <th>Total Neto</th>
                                            <th>$ {{object.totalNeto|moneda}}</th>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <th>Iva</th>
                                            <th>$ {{object.iva|moneda}}</th>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <th>Total</th>
                                            <th>$ {{object.total|moneda}}</th>
                                        </tr></thead>
                                    </tbody>
                                        
                                    </table>
                                </div>
                                        
                                    </div>
                                </div>
                                
                                <div class="col-sm-12">
                                            <button type="submit" class="btn btn-primary me-1 waves-effect waves-float waves-light">Pagar</button>
                                            {%if 'ordendecompra.rechazar' in perms%}
                                            <button onclick="vue.rechazarOrden()" type="button" class="btn btn-danger me-1 waves-effect waves-float waves-light">Rechazar</button>
                                            {%endif%}
                                        </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
                <!--/ Dashboard -->

            </div>
        </div>
    </div>
    <!-- END: Content-->
{%endblock%}

{%block scripts%}
<script src="{%static 'nucleo/vendors/js/pickers/pickadate/picker.js'%}"></script>
<script src="{%static 'nucleo/vendors/js/pickers/pickadate/picker.date.js'%}"></script>
<script src="{%static 'nucleo/vendors/js/extensions/sweetalert2.all.min.js'%}"></script>
<script>
let arreglo = Array('#fecha_pago','#fecha_facturacion')
arreglo.forEach(arreglo=>{
    $(arreglo).pickadate({
    monthsFull: [ 'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre' ],
    monthsShort: [ 'ene', 'feb', 'mar', 'abr', 'may', 'jun', 'jul', 'ago', 'sep', 'oct', 'nov', 'dic' ],
    weekdaysFull: [ 'Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado' ],
    weekdaysShort: [ 'dom', 'lun', 'mar', 'mié', 'jue', 'vie', 'sáb' ],
    today: 'Hoy',
    clear: 'Borrar',
    close: 'Cerrar',
    firstDay: 1,
    format: 'yyyy-mm-dd',
    formatSubmit: 'yyyy-mm-dd',
    onStart: function ()
            {
                let elemento = document.querySelector(arreglo);
                if (arreglo == '#fecha_pago' && elemento.value == ''){
                var date = new Date();
                this.set('select', [date.getFullYear(), date.getMonth(), date.getDate()]);
                }
            },
            });
  });
</script>

<script>
let vue = Vue.createApp({
    data() {
            return {
                insumos: [],
            };
            },
    methods:{
        igualarInsumo(insumo){
            insumo.cantidad_recibida = insumo.cantidad;
            this.actualizarInsumo(insumo);
        },
        actualizarInsumo(insumo){
            if(insumo.cantidad > insumo.cantidad_recibida){
                            insumo.rojo = true;
                        }else{
                            insumo.rojo = false;
                        }
        },
        rechazarOrden(numero){
        Swal.fire({
            title: 'Estas Seguro?',
            text: "La orden de compra quedara deshabilitada y en estado Rechazada",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'Cancelar',
            confirmButtonText: 'Si, Rechazar!'
        }).then((result) => {
            if (result.isConfirmed) {
                let url = '{%url "ordendecompra:rechazar" 1%}';
                location.href = url.replace('1',{{object.id}});
                    }});
        },
        obtenerInsumos(){
            let url = '{%url "ordendecompra-detail" 1%}';
            axios
                .get(url.replace('1',{{object.id}}))
                .then(response => {
                    this.insumos = response.data.insumos;
                    this.insumos.forEach(insumo => {
                        this.actualizarInsumo(insumo)
                    });
                });
                }},
    delimiters: ['{$', '$}'],
    mounted(){
        this.obtenerInsumos();
    }
}).mount('#app');
</script>
<script>
let vue_archivos = Vue.createApp({
            data() {
                return {
                };
            },
            methods:{
                eliminarArchivo(event,id){
                let url = "{% url 'ordendecompra:eliminara' 1%}".replace('1',id);
                Swal.fire({
                    title: 'Estas Seguro?',
                    text: "El archivo sera eliminado permanentemente del sistema",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, Eliminarr!'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            axios.get(url).then(response =>{
                                if (response.data.estado == 'ok'){
                                    Swal.fire(
                                    'Eliminado!',
                                    'El archivo ha sido eliminado',
                                    'success'
                                    );
                                    let tbody = event.target.parentNode.parentNode.parentNode;
                                    let totalArchivos = tbody.querySelectorAll('tr').length;
                                    event.target.parentNode.parentNode.remove();
                                    if (totalArchivos -1 <= 0){
                                        document.querySelector('#archivos').remove();
                                    } 
                                }else{
                                    Swal.fire(
                                    'Error',
                                    'El archivo que intentas acceder ya fue eliminado',
                                    'error'
                                    );
                                }
                            });
                                        }
                                                }
                            );
                    

                    
                }
            },
 delimiters: ['{$', '$}']
        }).mount('#archivos');
</script>
{%endblock%}