{% extends 'nucleo/base.html' %}
{%block title%}Rutas{%endblock%}
{%load static%}
{%block head%}
    <link rel="stylesheet" type="text/css" href="{%static 'nucleo/vendors/css/tables/datatable/dataTables.bootstrap5.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'nucleo/vendors/css/tables/datatable/responsive.bootstrap4.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'nucleo/vendors/css/tables/datatable/buttons.bootstrap5.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'nucleo/vendors/css/tables/datatable/rowGroup.bootstrap4.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'nucleo/vendors/css/pickers/flatpickr/flatpickr.min.css'%}">
{%endblock%}
{%block content%}
<!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-fluid p-0">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-start mb-0">Logística</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Rutas</a>
                                    </li>
                                    <li class="breadcrumb-item active">Lista
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-header-right text-md-end col-md-3 col-12 d-md-block d-none">

                    <div class="mb-1 breadcrumb-right">
                        {%if 'logistica.rutas.crear' in perms %}
                            <a class="" href="{% url 'logistica:rutas:crear' %}"><button class="btn btn-primary">Agregar Ruta</button></a>
                        {%endif%}
                    </div>
                </div>
            </div>
            <div id="app">
                <div class="modal fade text-start"id="default" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel1">Ruta #{$id$} - {$ nombre_ruta $}</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Información</th>
                                            <th>Dato</th>
                                        </tr>
                                    </thead>
                                        <tbody>
                                            <tr>
                                                <th>Ruta</th>
                                                <td>{$ nombre_ruta $}</td>
                                            </tr>
                                             <tr>
                                                <th>Encargado</th>
                                                <td>{$ persona.nombre $}</td>
                                            </tr>
                                            <tr>
                                                <th>Número de Ordenes</th>
                                                <td>{$ total_o $} </td>
                                            </tr>
                                        </tbody>
                                    </table>

              <div v-if="total_o > 0" class="accordion" id="acordionordenes" data-toggle-hover="true">
                <div v-for="orden in ordenes" class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" :data-bs-target="`#orden`+orden.orden.id" aria-expanded="false" :aria-controls="`orden`+orden.orden.id">
                        {$ transformar(orden) $}
                    </button>
                    </h2>
                    <div :id="`orden`+orden.orden.id" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#acordionordenes" style="">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 mb-1">
                                <table style="font-size:12px" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Dato</th>
                                            <th>Información</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Cliente</td>
                                            <td>{$ orden.orden.cliente.nombre $}</td>
                                        </tr>
                                        <tr>
                                            <td>Local</td>
                                            <td>{$ orden.orden.local.local $}</td>
                                        </tr>
                                        <tr>
                                            <td>Dirección</td>
                                            <td>{$ orden.orden.local.direccion $}</td>
                                        </tr>
                                        <tr>
                                            <td>Contacto</td>
                                            <td>{$ orden.orden.local.contacto $}</td>
                                        </tr>
                                        <tr>
                                            <td>Télefono</td>
                                            <td>{$ orden.orden.local.telefono $}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6 col-sm-12 mb-1">
                                
                                <table style="font-size:12px;" class="table table-bordered table-striped">
                            <thead>
                                <tr>

                                    <th>Producto</th>
                                    <th>Unidades</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td>Total Productos</td>
                                    <td>{$ orden.orden.total_productos $}</td>
                                </tr>
                                <tr v-for="producto in orden.orden.productos">

                                    <td>{$producto.producto.nombre$} ({$producto.producto.presentacion$} {$producto.producto.unidad$})</td>
                                    <td>{$ producto.cantidad_fc $}</td>
                                </tr>
                            </tbody>
                        </table>
                            </div>
                        
                        </div>
                    </div>
                    </div>
                </div>
            </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button v-if="estado != 'Cerrado'" @click="cerrarruta" type="button" class="btn btn-info">Cerrar Ruta</button>
                                <button v-if="estado != 'Cerrado'" @click="seguimiento" type="button" class="btn btn-success">Seguimiento Tiempo Real</button>
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <!-- Modal -->
                <section id="basic-datatable">
                    <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <table id="rutas" class="datatables-basic table text-center">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Nombre Ruta</th>
                                                <th>Encargado</th>
                                                <th>Estado</th>
                                                {%if 'logistica.rutas.detalle' in perms or 'logistica.rutas.actualizar' in perms or 'logistica.rutas.eliminar' in perms%}
                                                <th>Opciones</th>
                                                {%endif%}
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                </section>
                <!--/ Dashboard -->

            </div>
        </div>
    </div>
{%endblock%}

{%block scripts%}
<!-- BEGIN: Page Vendor JS-->
<script src="{% static 'nucleo/vendors/js/tables/datatable/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'nucleo/vendors/js/tables/datatable/dataTables.bootstrap5.min.js'%}"></script>
<script src="{% static 'nucleo/vendors/js/tables/datatable/dataTables.responsive.min.js'%}"></script>
<script src="{% static 'nucleo/vendors/js/tables/datatable/responsive.bootstrap4.js'%}"></script>
<script src="{% static 'nucleo/vendors/js/pickers/flatpickr/flatpickr.min.js'%}"></script>
<!-- END: Page Vendor JS-->
<script>
let nombreTabla = 'rutas';
$( function() {
    let tabla = $(`#${nombreTabla}`).DataTable( {
        responsive: true,
        autoWidth: false,
        destroy: false,
        deferRender: false,
        pageLength: 10,
        serverSide: true,
        rowReorder: true,
        order: [[0,'desc']],
        dom: '<"card-header border-bottom p-1"<"head-label"><"dt-action-buttons text-end"B>><"d-flex justify-content-between align-items-center mx-0 row"<"col-sm-12 col-md-6"l><"col-sm-12 col-md-6"f>>t<"d-flex justify-content-between mx-0 row"<"col-sm-12 col-md-6"i><"col-sm-12 col-md-6"p>>',
        ajax: '{%url "ruta-list" %}?format=datatables',
        language: {
            "lengthMenu": "Mostrar _MENU_ rutas por página",
            "zeroRecords": "Lo Sentimos, por el momento no hay rutas en el sistema.",
            "info": "Mostrando página _PAGE_ de _PAGES_",
            "infoEmpty": "No hay rutas",
            "infoFiltered": "(filtrados de un total de _MAX_ rutas)",
            "loadingRecords": "Cargando...",
            "processing":     "Procesando...",
            "search":         "Buscar:",
            "paginate": {
                "first":      "Primera",
                "last":       "Ultima",
                "next":       "Siguiente",
                "previous":   "Anterior"
            },
        },
        columns: [
            {data : 'id'},
            {data: 'nombre'},
            {data: 'persona.nombre', name: "persona.first_name, persona.last_name"},
            {data:'estado'},
            {%if 'logistica.envio.detalle' in perms or 'logistica.envio.actualizar' in perms or 'logistica.envio.eliminar' in perms%}
            {mData: 'id',searchable: false,
            mRender: (data,type,row)=>{
                let botones ="";
                {%if 'logistica.envio.detalle' in perms%}
                botones+= `<button data-bs-tooltip="tooltip" data-bs-placement="top" title="Detalle Ruta" style="margin-right:20px;" type="button" onclick="vue.remplazarModal(${data})"  data-bs-toggle="modal" data-bs-target="#default" class="btn btn-icon btn-info waves-effect"><i data-feather="book"></i></button>`;
                {%endif%}
                {%if 'logistica.ruta.actualizar' in perms %}
                botones+= `<a style="margin-right:20px;" href="{%url 'logistica:rutas:actualizar' 1 %}"><button data-bs-tooltip="tooltip" data-bs-placement="top" title="Actualizar Ruta" type="button" class="btn btn-icon btn-success waves-effect"><i data-feather="settings"></i></button></a>`.replace('1',data);
                {%endif%}

                {%if 'logistica.ruta.eliminar' in perms%}
                botones+= `<button type="button" onclick="eliminar(event, ${data})" data-bs-tooltip="tooltip" data-bs-placement="top" title="Eliminar Ruta" class="btn btn-icon btn-danger waves-effect"><i data-feather="trash"></i></button>`;
                {%endif%}
                return botones;
            }}
            {%endif%}
        ],
        "drawCallback": function(){
            feather.replace();
            activarTooltip();
        },
        "initComplete": function () {
            feather.replace();
            activarTooltip();
        },
    } );
tabla.on('responsive-display',function(){
    feather.replace();
});
$('div.head-label').html('<h6 class="mb-0">Rutas</h6>');
});
</script>

{%if 'logistica.ruta.eliminar' in perms %}
<script src="{%static 'nucleo/vendors/js/extensions/sweetalert2.all.min.js'%}"></script>
<script>

function eliminar(event,id){
    let url = "{% url 'logistica:rutas:eliminar' 1%}".replace('1',id);
    Swal.fire({
        title: '¿Estas Seguro?',
        html:"La Ruta sera eliminada <b style='color:red'>eliminada</b> permanentemente del sistema.",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        cancelButtonText: 'Cancelar',
        confirmButtonText: 'Si, Eliminar!'
        }).then(result=>{
            if (result.isConfirmed) {
                axios.get(url).then(response => {
                    if (response.data.estado == 'ok'){
                        Swal.fire(
                        'Eliminado!',
                        'La ruta ha sido eliminada del sistema',
                        'success'
                        );
                        let tbody = document.querySelector(`#${nombreTabla} tbody`);
                        let totalColumnas = tbody.querySelectorAll('tr').length;
                        let tr = event.target.closest('tr').remove();
                        if (totalColumnas -1 <= 0){
                            document.querySelector(`#${nombreTabla}`).remove();
                        }
                    }
                });
            }
        });               
}
</script>
{%endif%}
<script>
let vue = Vue.createApp({
    data(){
        return{
            id:0,
            persona: [],
            estado: "",
            ordenes: [],
            nombre_ruta: "",
            total_o: 0,
        }
    },
    methods:{
        remplazarModal(numero){
            let url = '{%url "ruta-list" %}' + `${numero}?extra=1`;
            axios
            .get(url)
            .then(response => {
                this.id = response.data.id;
                this.estado = response.data.estado;
                this.total_o = response.data.total_ordenes;
                this.nombre_ruta = response.data.nombre;
                this.persona = response.data.persona;
                this.ordenes = response.data.ordenes;
            });
        },
        seguimiento(){
            let url = '{%url "logistica:rutas:seguimiento" 1%}'.replace('1',this.id);
            window.open(url,'_blank').focus();
        },
        cerrarruta(){
            let url = '{%url "logistica:rutas:cerrar" 1%}'.replace('1',this.id);
            location.href = url;
        },
        transformar(orden){
            console.log(orden);
            estado = orden.orden.estado;
            if (estado == 'Asignado'){
                estado = 'En Ruta';
            }
            return `Orden ${orden.orden.id} - ${orden.orden.cliente.nombre} - ${estado}` ;
        },
        verDetalle(){
            let url = '{%url "logistica:envios:detalle" 1%}'.replace('1',this.id);
            location.href = url;
        },
    },
    delimiters: ['{$', '$}'],
}).mount('#app');
</script>
{%endblock%}

