{% extends 'nucleo/base.html' %}
{%block title%}Clientes{%endblock%}
{%load static%}
{%block head%}
    <link rel="stylesheet" type="text/css" href="{%static 'nucleo/vendors/css/tables/datatable/dataTables.bootstrap5.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'nucleo/vendors/css/tables/datatable/responsive.bootstrap4.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'nucleo/vendors/css/tables/datatable/buttons.bootstrap5.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'nucleo/vendors/css/tables/datatable/rowGroup.bootstrap4.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'nucleo/vendors/css/pickers/flatpickr/flatpickr.min.css'%}">
{%endblock%}
{%block content%}
<!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-fluid p-0">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-start mb-0">Administrador</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Clientes</a>
                                    </li>
                                    <li class="breadcrumb-item active">Lista
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-header-right text-md-end col-md-3 col-12 d-md-block d-none">
                    <div class="mb-1 breadcrumb-right d-flex">
                        {%if 'clientes.cliente.crear' in perms %}
                        <a class="me-2" href="{% url 'administrador:cliente:crear' %}">
                            <button class="btn btn-primary">Añadir Cliente</button>
                        </a>
                        {%endif%}
                        {%if 'clientes.local.crear' in perms %}
                        <a href="{% url 'administrador:local:crear' %}">
                            <button class="btn btn-primary">Añadir Local</button>
                        </a>
                        {%endif%}
                    </div>
                    
                </div>
            </div>
            <div id="app">
                <div class="modal fade text-start"id="default" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel1">{$ titulo $}</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h4>Resumen <button type="button" @click="verResumen" class="btn btn-icon btn-icon rounded-circle btn-primary waves-effect waves-float waves-light">
                                    <i v-bind:class="{ fas: true, 'fa-arrow-down': !verresumen, 'fa-arrow-up': verresumen }"></i>
                                    </button></h4>
                                <div class="table-responsive">
                                    <table v-if="verresumen" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Información</th>
                                            <th>Dato</th>
                                        </tr>
                                    </thead>
                                        <tbody>
                                            <tr>
                                                <th>Nombre Empresa</th>
                                                <td>{$ nombre $}</td>
                                            </tr>
                                            <tr>
                                                <th>Rut Empresa</th>
                                                <td>{$ rut $}</td>
                                            </tr>
                                            <tr>
                                                <th>Tipo</th>
                                                <td>{$ tipo $}</td>
                                            </tr>
                                            <tr>
                                                <th>Razón Social</th>
                                                <td>{$ razon_social $}</td>
                                            </tr>
                                            <tr>
                                                <th>Giro</th>
                                                <td>{$ giro $}</td>
                                            </tr>
                                            <tr>
                                                <th>Teléfono</th>
                                                <td>{$ telefono $}</td>
                                            </tr>
                                            <tr>
                                                <th>Contacto</th>
                                                <td>{$ contacto $}</td>
                                            </tr>
                                            <tr>
                                                <th>Correo Electrónico</th>
                                                <td>{$ email $}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <div v-if="acuerdos.length > 0" class="acuerdos">
                                        <h4>Acuerdos Comerciales <button type="button" @click="verAcuerdos" class="btn btn-icon btn-icon rounded-circle btn-primary waves-effect waves-float waves-light">
                                        <i v-bind:class="{ fas: true, 'fa-arrow-down': !veracuerdos, 'fa-arrow-up': veracuerdos }"></i>
                                        </button></h4>
                                        <div v-if="veracuerdos">
                                            <table id="acuerdos" class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Categoría Producto</th>
                                                        <th>Porcentaje</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="acuerdo in acuerdos">
                                                        <td>{$ acuerdo.rama.nombre $}</td>
                                                        <td>{$ acuerdo.porcentaje $}%</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div v-if="lista != null" class="lista">
                                        <h4>Lista de Precios <button type="button" @click="verLista" class="btn btn-icon btn-icon rounded-circle btn-primary waves-effect waves-float waves-light">
                                        <i v-bind:class="{ fas: true, 'fa-arrow-down': !verlista, 'fa-arrow-up': verlista }"></i>
                                        </button></h4>
                                        <div v-if="verlista">
                                            <h5>{$ lista.nombre $} {% if 'ventas.listap.actualizar' in perms %}<button style="font-size:10px;" @click="editarLista(lista.id)" type="button "class="btn rounded-circle btn-icon btn-small btn-success"><i class="far fa-edit"></i></button>{%endif%}</h5>
                                            <table id="lista" class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Producto</th>
                                                        <th>Precio</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="producto in lista.productos">
                                                        <td>{$ producto.producto.nombre $} ({$ producto.producto.presentacion $} {$producto.producto.unidad$})</td>
                                                        <td>{$ formatoCLP(producto.precio) $}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                
                                    {%if 'clientes.local.listar' in perms%}
                                    <div v-if="locales.length > 0" class="local">
                                    <h4>Locales <button type="button" @click="verLocales" class="btn btn-icon btn-icon rounded-circle btn-primary waves-effect waves-float waves-light">
                                    <i v-bind:class="{ fas: true, 'fa-arrow-down': !verlocales, 'fa-arrow-up': verlocales }"></i>
                                    </button></h4>
                                        <div v-if="verlocales">
                                            
                                            <table id="locales" class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Local</th>
                                                        <th>Teléfono</th>
                                                        <th>Región</th>
                                                        <th>Comuna</th>
                                                        <th>Dirección</th>
                                                        <th>Contacto</th>
                                                        <th>Correo Electrónico</th>
                                                        {%if 'clientes.local.actualizar' in perms or 'clientes.local.eliminar' in perms%}
                                                        <th>Opciones</th>
                                                        {%endif%}
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr v-for="local in locales">
                                                        <td>{$ local.local $}</td>
                                                        <td>{$ local.telefono $}</td>
                                                        <td>{$ local.region $}</td>
                                                        <td>{$ local.comuna $}</td>
                                                        <td>{$ local.direccion $}</td>
                                                        <td>{$ local.contacto $}</td>
                                                        <td>{$ local.email $}</td>
                                                        {%if 'clientes.local.actualizar' in perms or 'clientes.local.eliminar' in perms%}
                                                        <td>
                                                            {% if 'clientes.local.actualizar' in perms %}
                                                            <button data-bs-tooltip="tooltip" data-bs-placement="top" title="Modificar Local" @click="editarLocal(local.id)" type="button" class="btn btn-icon btn-success waves-effect"><i class="far fa-edit"></i></button>
                                                            {%endif%}
                                                            {% if 'clientes.local.eliminar' in perms %}
                                                            <button data-bs-tooltip="tooltip" data-bs-placement="top" title="Eliminar Local" style="margin-left:10px;" @click="eliminarLocal($event,local.id)" type="button" class="btn btn-icon btn-danger waves-effect"><i class="fas fa-trash"></i></button>
                                                            {%endif%}
                                                        </td>
                                                        {%endif%}
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        
                                    </div>
                                    {%endif%}
                                    
                                </div>
                                {%if 'clientes.local.crear' in perms %}
                                <a @click="crear_local()"><button class="btn btn-primary">Agregar Local</button></a>
                                <a style="margin-left:10px;" @click="modificar_acuerdo(id)"><button class="btn btn-primary">Modificar Acuerdos</button></a>
                                {%endif%}
                            </div>
                            
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <section id="basic-datatable">
                    <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <table id="clientes" class="datatables-basic table text-center">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Tipo</th>
                                                <th>Nombre Comercial</th>
                                                <th>Teléfono</th>
                                                <th>Email</th>
                                                {%if 'clientes.cliente.detalle' in perms or 'clientes.cliente.actualizar' in perms or 'clientes.cliente.eliminar' in perms %}
                                                <th>Opciones</th>
                                                {%endif%}
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                </section>
                <!--/ Dashboard -->

            </div>
        </div>
    </div>
{%endblock%}

{%block scripts%}
<!-- BEGIN: Page Vendor JS-->
<script src="{% static 'nucleo/vendors/js/tables/datatable/jquery.dataTables.min.js'%}"></script>
<script src="{% static 'nucleo/vendors/js/tables/datatable/dataTables.bootstrap5.min.js'%}"></script>
<script src="{% static 'nucleo/vendors/js/tables/datatable/dataTables.responsive.min.js'%}"></script>
<script src="{% static 'nucleo/vendors/js/tables/datatable/responsive.bootstrap4.js'%}"></script>
<script src="{% static 'nucleo/vendors/js/pickers/flatpickr/flatpickr.min.js'%}"></script>
<!-- END: Page Vendor JS-->
<script>
$( function() {
   let tabla = $('#clientes').DataTable( {
        responsive: true,
        autoWidth: true,
        destroy: true,
        deferRender: true,
        pageLength: 10,
        serverSide: true,
        rowReorder: true,
        order: [[0,'desc']],
        dom: '<"card-header border-bottom p-1"<"head-label"><"dt-action-buttons text-end"B>><"d-flex justify-content-between align-items-center mx-0 row"<"col-sm-12 col-md-6"l><"col-sm-12 col-md-6"f>>t<"d-flex justify-content-between mx-0 row"<"col-sm-12 col-md-6"i><"col-sm-12 col-md-6"p>>',
        ajax: '{%url "cliente-list" %}?format=datatables',
        language: {
            "lengthMenu": "Mostrar _MENU_ clientes por página",
            "zeroRecords": "Lo sentimos no se han encontrado clientes.",
            "info": "Mostrando página _PAGE_ de _PAGES_",
            "infoEmpty": "No hay clientes",
            "infoFiltered": "(filtrados de un total de _MAX_ clientes)",
            "loadingRecords": "Cargando...",
            "processing":     "Procesando...",
            "search":         "Buscar:",
            "paginate": {
                "first":      "Primera",
                "last":       "Ultima",
                "next":       "Siguiente",
                "previous":   "Anterior"
            },
        },
        columns: [
            {data : 'id'},
            {data: 'tipo',render:function(data,type,row,meta){
                return data.toUpperCase();
            }},
            {data: 'nombre',render:function(data,type,row,meta){
                return data.toUpperCase();
            }},
            {data: 'telefono'},
            {data: 'email'},
            {%if 'clientes.cliente.detalle' in perms or 'clientes.cliente.actualizar' in perms or 'clientes.cliente.eliminar' in perms %} 
            {mData: 'id',searchable: false,
            mRender: (data,type,row)=>{
                let botones ="";
                {%if 'clientes.cliente.detalle' in perms %} 
                let boton1 = `<button data-bs-tooltip="tooltip" data-bs-placement="top" title="Ver detalle" style="margin-right:20px;" type="button" onclick="vue.remplazarModal(${data})"  data-bs-toggle="modal" data-bs-target="#default" class="btn btn-icon btn-info waves-effect"><i data-feather="book"></i></button>`;
                botones+= boton1;
                {%endif%}
                {%if 'clientes.cliente.actualizar' in perms %} 
                let boton2 = `<a style="margin-right:20px;" href="{%url 'administrador:cliente:actualizar' 1 %}"><button data-bs-tooltip="tooltip" data-bs-placement="top" title="Modificar Cliente" type="button" class="btn btn-icon btn-success waves-effect"><i data-feather="settings"></i></button></a>`;
                boton2 = boton2.replace('1',data);
                botones+= boton2;
                {%endif%}
                {%if 'clientes.cliente.eliminar' in perms %} 
                let boton3 = `<button data-bs-tooltip="tooltip" data-bs-placement="top" title="Eliminar Cliente" onclick="eliminar(event,${data})" type="button" class="btn btn-icon btn-danger waves-effect"><i data-feather="trash"></i></button>`;
                boton3 = boton3.replace('1',data);
                botones+= boton3;
                {%endif%}
                return botones;
            }}
            {%endif%}
        ],
        "drawCallback": function(){
            feather.replace();
            activarTooltip();
        },
        "initComplete": function () {
            feather.replace();
            activarTooltip();
        },
    } );
tabla.on('responsive-display',function(){
    feather.replace();
});
$('div.head-label').html('<h6 class="mb-0">Clientes</h6>');
});
</script>

{%if 'clientes.cliente.eliminar' in perms %}
<script src="{%static 'nucleo/vendors/js/extensions/sweetalert2.all.min.js'%}"></script>
<script>
function eliminar(event,id){
    let url = "{% url 'administrador:cliente:eliminar' 1%}".replace('1',id);
    Swal.fire({
        title: '¿Estas Seguro?',
        html:"El Cliente sera <b style='color:red'>eliminado</b> permanentemente del sistema, y <b>sus ordenes de compra</b>",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        cancelButtonText: 'Cancelar',
        confirmButtonText: 'Si, Eliminar!'
        }).then(result=>{
            if (result.isConfirmed) {
                axios.get(url).then(response => {
                    if (response.data.estado == 'ok'){
                        Swal.fire(
                        'Eliminado!',
                        'El cliente ha sido eliminado',
                        'success'
                        );
                        let tbody = document.querySelector('#clientes tbody');
                        let totalClientes = tbody.querySelectorAll('tr').length;
                        let tr = event.target.closest('tr').remove();
                        if (totalClientes -1 <= 0){
                            document.querySelector('#clientes').remove();
                        }
                    }
                });
            }
        });               
}
</script>
{%endif%}
{%if 'clientes.cliente.detalle' in perms%}
<script>
let vue = Vue.createApp({
    data(){
        return {
            verlocales: false,
            verlista: false,
            veracuerdos: false,
            verresumen: true,
            id: 0,
            locales: [],
            lista: {
                productos: {},
            },
            acuerdos: {},
            nombre: "Artisan",
            tipo: "Horeca",
            giro: "Artisan",
            razon_social: "Artisan",
            rut: "rut",
            titulo: "hola",
            telefono: '+569',
            region: 'region',
            comuna: 'comuna',
            direccion: 'direccion',
            contacto: 'contacto',
            email: 'email@email.cl',
            url_detalle: '{% url "administrador:proveedor:detalle" 1%}',
        };
    },
    methods: {
        verLocales(){
            this.verlocales = !this.verlocales;
        },
        verAcuerdos(){
            this.veracuerdos = !this.veracuerdos;
        },
        verResumen(){
            this.verresumen = !this.verresumen;
        },
        verLista(){
            this.verlista = !this.verlista;
        },
        formatoCLP(numero){
            return formatter.format(numero);
        },
        remplazarModal(numero){
            let url = '{%url "api-cliente-avanzado" 1 %}';
            axios.get(url.replace('1',numero))
            .then(response => {
                let data = response.data;
                this.id = data.id;
                this.titulo = "Empresa: " + data.nombre;
                this.tipo = data.tipo;
                this.razon_social = data.razon_social;
                this.nombre = data.nombre;
                this.locales = data.locales;
                this.rut = data.rut;
                this.giro = data.giro;
                this.telefono = data.telefono;
                this.region = data.region;
                this.comuna = data.comuna;
                this.contacto = data.contacto;
                this.email = data.email;
                this.acuerdos = data.acuerdos;
                this.lista = data.listap;
                console.log(this.lista);
                this.direccion = data.direccion;
                this.url_detalle = this.url_detalle.replace('1',data.id);
            });
            setTimeout(() => {activarTooltip();},500);
        },
        editarLocal(local){
            let url = '{% url "administrador:local:actualizar" 1%}'.replace('1',local);
            window.open(url);
        },
        editarLista(lista){
            let url = '{% url "ventas:listap:actualizar" 1%}'.replace('1',lista) + `?cliente=${this.id}`;
            window.open(url);
        },
        eliminarLocal(event,id){
                let url = "{% url 'administrador:local:eliminar' 1%}".replace('1',id);
                Swal.fire({
                    title: '¿Estas Seguro?',
                    text: "El Local sera eliminada permanentemente del sistema",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    cancelButtonText: 'Cancelar',
                    confirmButtonText: 'Si, Eliminar!'
                    }).then(result=>{
                        if (result.isConfirmed) {
                            axios.get(url).then(response => {
                                if (response.data.estado == 'ok'){
                                    Swal.fire(
                                    'Eliminado!',
                                    'El local ha sido eliminado',
                                    'success'
                                    );
                                    let tbody = document.querySelector('#locales tbody');
                                    let totalLocales = tbody.querySelectorAll('tr').length;
                                    let tr = event.target.closest('tr').remove();
                                    if (totalLocales -1 <= 0){
                                        document.querySelector('#locales').remove();
                                    }
                                }
                            });
                        }
                    });
               
        },
        crear_local(){
            let url = "{% url 'administrador:local:crear' %}?cliente=" + this.id;
            window.open(url);
        },
        modificar_acuerdo(id){
            let url = "{% url 'administrador:cliente:acuerdo' 1%}".replace('1',id);
            window.open(url);
        },
    },
    delimiters: ['{$', '$}'],
}).mount('#app');
</script>
{%endif%}
{%endblock%}

