{% extends 'nucleo/base.html'%}
{%block title%}Asociar Insumo a Proveedor{%endblock%}
{%load static%}
{%block head%}
<link rel="stylesheet" type="text/css" href="{%static 'nucleo/vendors/css/pickers/pickadate/pickadate.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'nucleo/css/plugins/forms/pickers/form-pickadate.css'%}">
{%endblock%}
{%block content%}
<style>
.errorlist{
    color:red;
    list-style:none;
    padding-left:0;
}
</style>
<!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-fluid p-0">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-start mb-0">Administrador</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'administrador:proveedor:lista' %}">Proveedor</a>
                                    </li>
                                    <li class="breadcrumb-item active">Añadir Asociación
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <!-- Dashboard -->
                <div class="card">

                    <div class="card-body">
                        <div class="card-text">
                            <form class="form form-horizontal" method="post" enctype="multipart/form-data">{% csrf_token %}
                                <div class="row">
                                    <div class="col-12" id="app">
                                    {{ form.non_field_errors }}
                                    {%for field in form %}
                                        <div class="mb-1 row">
                                        {%if field.id_for_label == 'id_precio'%}
                                        <div class="col-sm-3">Divisa<span style="color:red">*</span></div>
                                        
                                            <div class="col-sm-9 position-relative">
                                                <div class="row">
                                                    <div class="col-sm-9">
                                                    <input type="hidden" name="precio" v-model="precio" step="any" class="form-control" required="" id="id_precio">
                                                    </div>
                                                    <div class="col-sm-12">
                                                    <select @change="CambiarDivisa($event)" class="form-select" name="moneda">
                                                        {%for moneda in monedas%}<option data-multiplicador="{{moneda.valor}}" value="{{moneda.pk}}">{{moneda.nombre}}</option>{%endfor%}
                                                    </select>
                                                    </div>
                                                </div>
                                                <small>La divisa que utiliza este insumo.</small>
                                            </div>
                                        </div>
                                        <div class="mb-1 row">
                                            

                                        {%else%}
                                        <div class="col-sm-3">{{field.label_tag}} {%if field.field.required %}<span style="color:red">*</span>{%endif%}</div>
                                        {%endif%}
                                        <div class="col-sm-9 position-relative">
                                        {%if field.id_for_label == 'id_precio'%}
                                        
                                        
                                        {%else%}
                                        {{field}}
                                         {% if field.help_text %}
                                        <small class="">{{field.help_text|safe}}</small>
                                        {%endif%}
                                        {%endif%}
                                        {%if field.errors %}
                                        <div class="invalid-feedback" style="display:block;">{{field.errors.as_text}}</div>
                                        {%endif%}
                                        </div>
                                        
                                        </div>
                                    {%endfor%}
                                    <div v-if="insumo.length > 0" class="row">
                                        <div class="col-sm-3"><strong>Paso 1</strong></div>
                                        <div class="col-sm-9">
                                            <p>Indique sí {$insumo$} se vende en un empaque secundario <strong>(bolsa,caja,saco,rollo,etc)</strong>. De un nombre a este formato.</p>
                                            <input type="text" v-model="empaques" name="empaques" class="form-control">
                                        </div>
                                    </div>
                                    <div v-if="empaques.length > 0"  class="row">
                                        <div class="col-sm-3"><strong>Paso 2</strong></div>
                                        <div class="col-sm-9">
                                            <p class="mt-1">Cuantos <strong>{$unidad$}s</strong> de {$insumo$} vienen por <strong>{$empaques$}</strong></p>
                                            <input type="number" step="any" v-model="uempaques" name="uempaques" class="form-control">
                                        </div>
                                    </div>
                                    <div v-if="uempaques > 0" class="row">
                                        <div class="col-sm-3"><strong>Paso 3</strong></div>
                                        <div class="col-sm-9">
                                            <p class="mt-1">Indique sí el {$empaques$} se vende en un empaque terciario <strong>(bolsa,caja,saco,rollo,etc)</strong>. De un nombre a este formato.</p>
                                            <input type="text" v-model="empaquet" name="empaquet" class="form-control">
                                        </div>
                                    </div>
                                    <div v-if="empaquet.length > 0"  class="row">
                                        <div class="col-sm-3"><strong>Paso 4</strong></div>
                                        <div class="col-sm-9">
                                            <p class="mt-1">Cuantos <strong>{$empaques$}</strong> vienen por <strong>{$empaquet$}</strong></p>
                                            <input type="number" step="any" v-model="uempaquet" name="uempaquet" class="form-control">
                                        </div>
                                    </div>
                                    <div v-if="uempaquet > 0 && empaquet.length > 0" class="row">
                                        <div class="col-sm-3"><strong>Paso 5</strong></div>
                                        <div class="col-sm-9">
                                            <p class="mt-1">Indique sí el {$empaquet$} se vende en un empaque cuaternario <strong>(bolsa,caja,saco,rollo,etc)</strong>. De un nombre a este formato.</p>
                                            <input type="text" v-model="empaquec" name="empaquec" class="form-control">
                                        </div>
                                    </div>
                                    <div v-if="empaquec.length > 0"  class="row">
                                        <div class="col-sm-3"><strong>Paso 6</strong></div>
                                        <div class="col-sm-9">
                                            <p class="mt-1">Cuantos <strong>{$empaquet$}</strong> vienen por <strong>{$empaquec$}</strong></p>
                                            <input type="number" step="any" v-model="uempaquec" name="uempaquec" class="form-control">
                                        </div>
                                    </div>
                                    <div v-if="insumo.length > 0">
                                        <h3>Tabla Resumen</h3>
                                        <table class="table table-striped mt-1 mb-1">
                                            <thead>
                                                <tr>
                                                    <th>Nombre Formato</th>
                                                    <th>Resumen de Valor por formato de empaque</th>
                                                    <th>{$unidad$}</th>
                                                    <th>Unidad de Consumo</th>
                                                    <th>Valor Formato</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-if="insumo.length > 0">
                                                    <td>{$insumo$}</td>
                                                    <td>Unidad de Costeo</td>
                                                    <td>1</td>
                                                    <td>{$unidad$}</td>
                                                    <td><input class="form-control" step="any" type="number" v-model="precio" v-on:keyup="actualizarPrecio('precio')"/></td>
                                                </tr>
                                                <tr v-if="empaques.length > 0 && uempaques > 0">
                                                    <td>{$empaques$}</td>
                                                    <td>El insumo {$insumo$} viene en {$empaques$} de</td>
                                                    <td>{$uempaques$}</td>
                                                    <td>{$unidad$}</td>
                                                    <td><input class="form-control" step="any" type="number" v-model="precioempaques" v-on:keyup="actualizarPrecio('empaques')"/></td>
                                                </tr>
                                                <tr v-if="empaquet.length > 0 && uempaquet > 0">
                                                    <td>{$empaquet$}</td>
                                                    <td>Cada {$empaquet$} contiene {$uempaquet$} {$empaques$} de {$uempaques$} unidad</td>
                                                    <td>{$uempaquet * uempaques$}</td>
                                                    <td>{$unidad$}</td>
                                                    <td><input class="form-control" step="any" type="number" v-model="precioempaquet" v-on:keyup="actualizarPrecio('empaquet')"/></td>
                                                </tr>
                                                <tr v-if="empaquec.length > 0 && uempaquec > 0">
                                                    <td>{$empaquec$}</td>
                                                    <td>Cada {$empaquec$} contiene {$uempaquec$} {$empaquet$} de {$uempaquet$} unidad</td>
                                                    <td>{$uempaquet * uempaques * uempaquec$}</td>
                                                    <td>{$unidad$}</td>
                                                    <td><input class="form-control" step="any" type="number" v-model="precioempaquec" v-on:keyup="actualizarPrecio('empaquec')"/></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-sm-12">
                                            <button type="submit" class="btn btn-primary me-1 waves-effect waves-float waves-light">Añadir Asociación</button>
                                        </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
                <!--/ Dashboard -->

            </div>
        </div>
    </div>
    <!-- END: Content-->
{%endblock%}
{%block scripts%}
<script>
let vue = Vue.createApp({
    data(){
        return {
            unidad: 'Unidad',
            insumo: '',
            unidadp: 'Unidades',
            precio: 0,
            precioempaques:0,
            precioempaquet:0,
            precioempaquec:0,
            multiplicador: 1,
            empaques: '',
            empaquet: '',
            empaquec: '',
            uempaques: 0,
            uempaquet: 0,
            uempaquec: 0,
            divisa: 'CLP',
            formato: 0,
            insumos: [],
        }
    },
    watch: {
        unidad: function(newUnidad,oldUnidad){
            this.unidad = newUnidad.charAt(0).toUpperCase() + newUnidad.slice(1).toLowerCase();
        },
    },
    methods:{
        CambiarDivisa(e){
            divisa = e.target.options[e.target.options.selectedIndex]
            this.divisa = divisa.text;
            this.multiplicador = parseFloat(divisa.getAttribute('data-multiplicador').replace(',','.'))
            this.calcularPrecio();
        },
        actualizarPrecio(precio){
            if(precio == 'empaques'){
                this.precio = this.precioempaques / this.uempaques;
                this.precioempaquet = this.precio * this.uempaques * this.uempaquet;
                this.precioempaquec = this.precio * this.uempaques * this.uempaquet * this.uempaquec;
            }
            else if(precio == 'empaquet'){
                this.precio = this.precioempaquet / (this.uempaques * this.uempaquet);
                this.precioempaques = this.precio * this.uempaques;
                this.precioempaquec = this.precio * this.uempaques * this.uempaquet * this.uempaquec;
            }
            else if(precio == 'empaquec'){
                this.precio = this.precioempaquec / (this.uempaques * this.uempaquet * this.uempaquec)
                this.precioempaques = this.precio * this.uempaques;
                this.precioempaquet = this.precio * this.uempaques * this.uempaquet;
            }
            else{
                this.precioempaques = this.precio * this.uempaques;
                this.precioempaquet = this.precio * this.uempaques * this.uempaquet;
                this.precioempaquec = this.precio * this.uempaques * this.uempaquet * this.uempaquec;
            }
        },
        formatoCLP(numero){
            return formatter.format(numero);
        },
        actualizarUnidad(){
            let target = event.target;
            let texto = target.textContent;
            if (texto != '---------'){
                unidad = texto.split('- ')[1].toUpperCase();
                this.unidad = unidad;
                this.insumo = texto.split(' - ')[0];
            }
            else{
                this.unidad = 'Unidad';
            }
            this.unidadp = this.transformar(this.unidad);
        },
        transformar(string){
            string = string.toLowerCase()
            if (string != 'n/a'){
                if (string.substr(-1) == 'd'){
                    string = string + "ES";
                }else if (string.substr(-1) != 's'){
                    string = string + "S";
                }
            }
            return string.toUpperCase();
        },
    },
    mounted(){
        let target = document.querySelector('#id_insumo');
        let texto = target.options[target.selectedIndex].text;
        console.log(texto);
        if (texto != '---------'){
            unidad = texto.split('- ')[1].toUpperCase();
            this.insumo = texto.split(' - ')[0];
            this.unidad = unidad;
        }
        this.opciones = Array.from(document.querySelector('#id_insumo').options);
        
        
    },
    delimiters: ['{$', '$}'],
}).mount('#app');
</script>
<script>
 $(document).ready(function () {
     $('#id_proveedor').selectize();
     $('#id_insumo').selectize();
  });
</script>
{%endblock%}