<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<p>Hola <b>{{name|safe}}</b>,</p>
<p>Haz sido registrado en la plataforma de <b>Artisan</b>, para ingresar debes utilizar las siguientes credenciales:</p>
<p>Usuario: {{usuario|safe}}</p>
<p>Contraseña: {{contrasena|safe}}</p>
<p>Ingresa ahora <a href="http://172.104.26.182/">Sitio web de Artisan</a></p>
<p>Por otro lado puedes acceder escaneando el codigo QR adjunto en este correo, ingresando solamente el pin: <b>{{pin|safe}}</b>.</p>
</body>
</html>
