{%extends 'registration/base.html' %}
{% load static %}
{% block title %}Escriba la nueva contraseña{% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
<div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
    <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
        {% if validlink %}
        <h2 class="card-title fw-bold mb-1">Escriba la nueva contraseña</h2>
          <form class="auth-login-form mt-2" action="" method="post">{% csrf_token %}
            <p>Por favor, introduzca su contraseña nueva dos veces para verificar que la ha escrito correctamente.</p>
            {{ form.email.errors }}
            <div class="mb-1">
              <label class="form-label" for="id_new_password1">Nueva Contraseña</label>
              {{form.new_password1.errors}}
              <input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" placeholder="Introduce la nueva contraseña">
            </div>
            <div class="mb-1">
              {{form.new_password2.errors}}
              <label class="form-label" for="id_new_password2">Repetir Contraseña</label>
              <input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="Repite la nueva contraseña">
            </div>
            <div class="mb-1">
              <input type="submit" class="btn btn-primary btn-block" value="Cambiar mi contraseña">
            </div>
          </form>
        {% else %}
          <h2 class="card-title fw-bold mb-2">Ups ha ocurrido un problema</h2>
          <p style="text-align: justify;">El enlace de restablecimiento de contraseña era inválido, seguramente porque se haya usado antes. Por favor, solicite un nuevo restablecimiento de contraseña <a href="{% url 'password_reset' %}">aquí</a>.</p>
        {%endif%}
    </div>
</div>
{% endblock %}