{%extends 'registration/base.html' %}
{% load static %}
{% block title %}Restablecimiento de contraseña completado{% endblock %}
{% block content %}
<div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
    <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
        <h2 class="card-title fw-bold mb-1">Restablecimiento de contraseña completado</h2>
        <p style="text-align: justify;">Su contraseña ha sido establecida. Ahora puede seguir adelante e iniciar sesión.</p>
        <p style="text-align: justify;"><a href="{% url 'login' %}">Iniciar sesión</a></p>
    </div>
</div>
{% endblock %}