{%extends 'registration/base.html' %}
{% load static %}
{% block title %}Restablecer contraseña{% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
<div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
    <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
        <h2 class="card-title fw-bold mb-1">Restablecer Contraseña</h2>
        <form class="auth-login-form mt-2" action="" method="post">{% csrf_token %}
          <p>¿Ha olvidado su clave? Introduzca su dirección de correo a continuación y le enviaremos por correo electrónico las instrucciones para establecer una nueva.</p>
          {{ form.email.errors }}
          <div class="mb-1">
            <label class="form-label" for="login-email">Correo Electrónico</label>
            <input type="email" name="email" maxlength="254" required="" id="id_email" class="form-control" placeholder="Introduce tu email"/>
          </div>
          <div class="mb-1">
            <input type="submit" class="btn btn-primary btn-block" value="Confirmar">
          </div>
        </form>
    </div>
</div>
{% endblock %}